<section class="main-section">
    <div class="top" >
        <h1> IT & Telecom </h1>
        <p class="top-paragraph">
            For all your technology needs, here is a one stop point
            that suit your needs
        </p>
        <hr>
    </div>
    <div class="top-image">
        <%= image_tag "log-1.png", class:"top-image-log" %>
         <p>
         </p>
    </div>
</section>
