<header>
    <div class="overlay">
        <%= image_tag "menu.png", class:"hamburger" %>
        <menu>
            <li> Home </li>
            <li> About </li>
            <li> Portfolio </li>
            <li> Contact Us </li>
        </menu>
        <%= image_tag "log-1.png", class:"overlay-logo" %>
    </div>
</header>