<section class="section-about">
    <h1>About Us</h1>
    <hr>
    <p>
        We bring intense focus in transforming social challenges digitaly
        <menu>
            <li>Publish your product</li>
            <li>Publish your product</li>
            <li>Publish your product</li>
        </menu>
    </p>
    
</section>